[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:axel-paillaud/nvim-config.git
[submodule "hypr/.config/hypr"]
	path = hypr/.config/hypr
	url = git@github.com:axel-paillaud/hyprland-config.git
